<div class="container-fluid">
  <div class="col-md-6 col-md-offset-2">
    <h3>This is a baking calculator.</h3>
    It's main goal is converting recipes to percentages so they can be more easily
    scaled up in production environments. It is mostly intended to be run
    on Android or iOS tablets.
  </div>
</div>
